*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #0d1412, #09483f, #131d1a);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.esq{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.tools{
  height: 100%;
  width: 100%;
  background-color: #13685b;
  display: grid;
  grid-template-rows: 1fr 1fr;
}